{% extends 'index.html.twig' %}

{% block body %}
    
<html>
<body>
    <div class="section">
     <div class="container">
        <h3>Backup is gelukt!</h3>
     </div>
    </div>
</body>
{% endblock %}